html {
    height: 100%;
}

body {
    margin:0px;
    height: 100%;
    position: relative;
    min-width: 800px;
}

other_body {
    margin:0px;
    height: 100%;
    position: relative;
    min-width: 900px;
}

.header {
    padding: 20px;
    background-color:white;
    margin: 0px;
    border-width: 0px 0px 2px 0px;
    border-color:lightgray;
    border-style: solid;
}

.header-info, .header-info_2 {
    margin: 0px 100px;
    padding: 20px;
    position: relative;
}

.header-info_2 {
    min-width: 685px;
}

.header-info h1, .header-info_2 h1 {
    float: left;
    height: 81px;
    line-height: 81px;
    background-color: teal;
    color: white;
    position: absolute;
    padding: 0px 30px 0px 30px;
    top: -42px;
    left: -20px;
    border-style:solid;
    border-width:1px;
    border-color: lightgray;
    margin-bottom:0px;
}

.portfolio_h1, .contact_h1 {
    float: left;
    height: 81px;
    line-height: 81px;
    background-color: teal;
    color: white;
    position: absolute;
    padding: 0px 30px 0px 30px;
    top: -42px;
    left: -20px;
    border-style:solid;
    border-width:1px;
    border-color: lightgray;
    margin-bottom:0px;
    margin-left:100px;
}

.navbar, .navbar_2 {
    float: right;
    position:absolute;
    top: 0px;
    right: -28px;
}

.navbar_2 {
    margin-right: 100px;
}

.navbar li, .navbar_2 li {
    display: inline;
    margin: 8px;
    color: lightgray;
    font-family: sans-serif;
    font-size: 14px;
}

.navbar a, .navbar_2 a {
    color: gray;
    text-decoration: none;
}

.back {
    width: 100%;
    clear: both;
    padding: 30px 0;
}


.aboutme {
    margin: 0px 100px;
    padding: 0px 30px 30px 30px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.aboutme h2, .portfolio h2, .contact h2 {
    color: darkcyan;
    margin-left: 0px;
    margin-right: 0px;
    border-width:0 0 2px 0;
    border-style: solid;
    border-color: lightgray;
    padding: 0 0 20px 0;
    line-height:30px;
    font-size: 26px;
    font-weight: bold;
}

.aboutimage { 
    float: left;
    margin: 0 20px 0 0;
    height: 150px;
    width: 150px;
}

.aboutme p {
    line-height: 2;
    margin: 0;
    position: relative;
    top: -10px;
    color:gray;
}

.footer {
    padding: 22px 0px;
    background-color: gray;
    width:100%;
    bottom: 0;
    position: fixed;
    border-width: 8px 0 0 0;
    border-color:teal;
    border-style: solid;
}

.namewrapper, .emailwrapper, .messagewrapper {
    display: block;
    margin: 10px;
    margin-left: 0px;
}

.nameform, .emailform, .messageform {
    display: block;
    color: gray;
    font-size: 15px;
    font-family: sans-serif;
}

.inname, .inemail {
    margin: 6px 0px;
    width: 100%;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    font-family: monospace;
}

.inmessage {
    margin: 6px 0px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    border-color: lightgray;
}

.submit {
    background-color:teal;
    border-color: lightgray;
    color: white;
    border: 1px;
    padding: 8px 24px 8px 24px;
    font-size: 14px;
    font-family: sans-serif;
}

.p-img {
    padding: 30px 30px 30px 0px;
    margin: 0;
    display: inline;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
    margin: 0;
    display: inline;
    padding: 0px 0px 0px 0px;
}

.imgcontainer1, .imgcontainer2, .imgcontainer3, .imgcontainer4, .imgcontainer5, .imgcontainer6 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 15px 45px 15px 0px;
}

.label1, .label2, .label3, .label4, .label5, .label6 {
   position: absolute;
   width: 150px;
   background-color: teal;
   color: white;
   bottom: 30px;
   display: block;
   right: 45px;
   text-align: center;
   height: 35px;
   line-height: 35px;
}

.portfolio, .contact {
    margin: 0px 200px;
    padding: 0px 30px 30px 30px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    min-width: 500px;
}

.portfolio h2 {
    text-align: left;
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 980px) {
    
}